{% extends 'base.html'%}

{% block title %} Você está autenticado com o google {% endblock %}

{% block content %}

{% load static %}
<script>
    $(document).ready(function () {
        $('.container').removeClass('container');
    });
</script>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card w-50">
                    <div class="card-header">
                        <h4 class="card-title" align="left">
                            {% if authorization_url %}
                                Clique no botão abaixo para se autorizar com Google
                            {% else %}
                                Você está autenticado com o google
                            {% endif %}
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div style="margin-top: 10px">
                                {% if authorization_url %}
                                    <a href="{{ authorization_url }}" class="btn btn-primary">
                                        Autorizar com Google
                                    </a>
                                {% else %}
                                    <a href="{% url 'contracts:seemycontracts' %}" class="btn btn-success">
                                        Voltar Para Contratos
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
<script>(function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);</script>

{% endblock %}