{% extends 'base.html'%}

{% block title %} Criar Novo Contrato {% endblock %}

{% block content %}

{% load static %}
<script>
$(document).ready(function() {
  $('.container').removeClass('container');
});
</script>

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title" align="left">Criar um Novo Contrato</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5 pr-1">
								<div class="form-group">
									<form method="POST" class="" enctype="multipart/form-data"> {% csrf_token %}
										<select id="select_form" style="max-width: 250%;" class="chosen-select">
											<option id="" value="" {% if student_id %}{% else %}selected{% endif %}>Selecione um estudante</option>
											{% for student in students %}
												{% if student_id %}
													{% if student.student_id == student_id %}
														<option value="{{ student.student_id }} " selected>{{ student.name }}</option>
													{% else %}
														<object value="{{ student.student_id }} ">{{ student.name }}</option>
													{% endif %}
												{% else %}
													<object value="{{ student.student_id }} ">{{ student.name }}</option>
												{% endif %}

											{% endfor %}
										</select><a href="{% url 'users:add_student' %}"><i class="fas fa-plus"></i></a><br>
										{{ form.as_p }}
										<input type="hidden" id="selected_user" name="selected_user" value="{% if student_id %}{{ student_id }}{% else %}0{% endif %}">

                    <div><button type="submit" class="btn btn-info btn-fill btn-sm pull-left mt-2">Criar Novo Contrato</button></div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#select_form').on('change',function(){
			var selectValor = $(this).val();
			if (selectValor == '') {
				$('#pai').children('div').remove();
				document.getElementById('selected_user').value = '0'
			}
			else{
				document.getElementById('selected_user').value = selectValor
			}
		});
	});
</script>

{% endblock %}
