{% extends 'base.html'%}

{% block title %} Create new Contract {% endblock %}

{% block content %}

<script>
$(document).ready(function() {
  $('.container').removeClass('container');
});
</script>

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card w-60">
					<div class="card-header">
						<h5 class="card-title" align="center">You Can Create a New Contract</h5>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5 pr-1">
								<div class="form-group">
									<form method="POST" class="" enctype="multipart/form-data"> {% csrf_token %}
										{{ form.as_p }}

                    <div><button type="submit" class="btn btn-info btn-fill btn-sm pull-left">Create a Contract</button></div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


{% endblock %}
