{% extends 'base.html'%}

{% block title %} See My Contracts {% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        {% if contracts %}
                        {% if request.user.is_superuser %}
                        <h4 class="card-title">Showing all the contracts</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                        {% else %}
                        <h4 class="card-title">Showing the contracts for {{ request.user.username }}</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                        {% endif %}
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped display" id="contractstable">
                          <thead >
                      			<tr>
                      				<th>Name of Contract</th>
                      				<th>Date of Contract</th>
                      				<th >Contract</th>
                      				<th >Actions</th>
                      			</tr>
                      		</thead>
                      		<tbody>
                      			{% for contract in contracts %}
                      			<tr>
                      				<th scope="row">{{ contract.name }}</th>
                      				<td>{{ contract.date }}</td>
                              <td>
                              {% if contract.pdf %}
                      				  <a href="{{ contract.pdf.url }}">{{ contract.pdf }}</a>
                              {% endif %}
                              </td>

                      				<td>
                              {% if request.user.is_superuser %}
                      					<div class="btn-tollbar px-2">

                                  <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Action
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" href="{% url 'contracts:updatecontract' contract.contract_id %}" data-baloon="Remove this item from the cart">Update contract</a>
                                      <a class="dropdown-item" href="{% url 'contracts:seecontractdetails' contract.contract_id %}" data-baloon="Remove this item from the cart">Contract Details</a>

                                    </div>
                                  </div>
                                </div>
                                {% if contract.first_auth_signed or contract.second_auth_signed or contract.counter_signed %}
                                {% else %}
                                <div class="btn-tollbar">

                      						<div class="btn-group mr-2 pull-right" role="group" aria-label="Second group">
                      							<button type="button" class="btn btn-primary btn-sm btn-danger btn-block"><a href="{% url 'contracts:delete_contract' contract.contract_id %}" data-baloon="Remove this item from the cart" class="text-light">Delete Contract</a></button>
                      						</div>


                      					</div>
                                {% endif %}
                                {% else %}
                                <div class="btn-tollbar">
                                <div class="btn-group mr-2 pull-right" role="group" aria-label="Second group">
                                  <button type="button" class="btn btn-primary btn-sm btn-danger btn-block"><a href="{% url 'contracts:set_signed' contract.contract_id %}" data-baloon="Remove this item from the cart" class="text-danger">Sign contract</a></button>
                                </div>
                                </div>
                      				</td>

                      				   <!-- <td><a href="{% url 'contracts:set_signed' contract.contract_id %}" data-baloon="Remove this item from the cart" class="text-danger">Sign contract</a><br></td>-->
                      				{% endif %}
                      				{% endfor %}
                      				{% endif %}
                      			</tr>
                      		</tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
  $(document).ready( function () {
    $('#contractstable').DataTable();
} );
</script>
{% endblock %}
