{% extends 'base.html'%}

{% block title %} Selecionar estudante para contrato {% endblock %}

{% block content %}

{% load static %}
<script>
	$(document).ready(function() {
		$('.container').removeClass('container');
	});
</script>

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title" align="left">Selecionar estudante para contrato</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-11 pr-1">
								<div class="form-group">
									<form method="POST" class="" enctype="multipart/form-data"> {% csrf_token %}
										<p>Selecione um Estudante</p>
										<select id="select_form" class="form-control chosen-select">
											<option id="" value="" selected>--------</option>
											{% for student in students %}
											<option value="{{ student.student_id }}">{{ student.name }}</option>
											{% endfor %}
										</select><br>
										<input type="hidden" id="selected_user" name="selected_user" value="0">
										

										<div><button type="submit" class="btn btn-info btn-fill btn-sm pull-left mt-2" style="background-color: #213f99; border-color: #213f99">Próximo</button></div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#select_form').on('change',function(){
			var selectValor = $(this).val();
			if (selectValor == '') {
				document.getElementById('selected_user').value = '0'
			}
			else{
				document.getElementById('selected_user').value = selectValor
			}
		});
	});
	$(document).ready(function(){
		$('#first_input').on('change',function(){
			var selectValor = $(this).val($(this).is(':checked'));
			if (selectValor == '') {
				$('#pai').children('div').remove();
				$('#child').children('div').remove();
			}
			else if (selectValor == true){
				
			}
			else if(selectValor == false){
				$('#pai').children('div').remove();
				$('#child').children('div').remove();
				document.getElementById('wish').value = 'não'
				document.getElementById('wish_today').value = 'não'
			}
		});
	});
	$(document).on("click","#first_slider",function(){
		if (!$('#first_checkbox').prop("checked")){
			document.getElementById('wish').value = 'sim'
			$('#first_checkbox').attr('checked')
		}
		else{
			$('#pai').children('div').remove();
			$('#child').children('div').remove();
			document.getElementById('wish').value = 'não'
			$('#first_checkbox').removeAttr('checked')
		}
	});
	function select(){
		if (!$('#second_checkbox').prop("checked")){
			$('#child').append('<div id="não"><p><div class="form-group"><label>Que dia você deseja que seja enviado o seu contrato?</label><label>Data do Agendamento: </label><input class="labelandform" type="date" name="date" style="width:120%"></div></p></div>')
			document.getElementById('wish_today').value = 'não'
			
		}
		else{
			$('#second_checkbox').removeAttr('checked')
			$('#child').children('#não').remove();
			document.getElementById('wish_today').value = 'sim'
			$('#second_checkbox').attr('checked')
		}	
	}
</script>

{% endblock %}
