{% autoescape off %}


Olá {{ user.name }}.

Você está recebendo esse email para lhe informar que você tem uma contrato, {{ contract.name }}, {{ contract.student_name }}, por Matricula {{ contract.date.year }} dentro do seu app Sua Escola por {{ school.school_name }}, para ser assinado, se for do seu interesse.

{% if user == contract.first_auth_signe or user == contract.second_auth_signe %}
{{ contract.slm }}
{% endif %}

Para assiná-lo, basta seguir os passos dentro do app.

Tellme School - tornando sua vida mais simples!



{% endautoescape %}