{% autoescape off %}


Olá {{ user.name }}.

Você está recebendo esse email para lhe informar que você tem uma contrato, {{ contract.student_name }} - {{ class.class_name }}, pela Matricula {{ contract.date.year }} dentro do seu app Sua Escola por {{ school.school_name }}, para ser assinado.

{% if user == contract.first_auth_signe or user == contract.second_auth_signe or user == contract.student_auth_signe %}
{% if contract.slm %}
Primeiro passo:
Conecte os seus detalhes magento através desse link:
http://{{ domain }}{% url 'users:profile' %}

Segundo passo:
Faça a compra dos materiais neste link:
{{ contract.slm }}

O processamento da compra pode demorar até 24 horas
{% endif %}
{% endif %}

Assine o contrato. Para assiná-lo, basta seguir os passos dentro do app.

Tellme School - tornando sua vida mais simples!



{% endautoescape %}