{% extends 'base.html'%}

{% block title %} Atualizar Contrato {% endblock %}

{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title">Atualizar o Contrato</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5 pr-1">
								<div class="form-group">
									<form method="POST" enctype="multipart/form-data">{% csrf_token %}
										{{ form.as_p }}
										<input type="hidden" id="selected_user" name="selected_user" value="0">
										<div><button type="submit" class="btn btn-info btn-fill btn-sm pull-left mt-2" style="background-color: #213f99; border-color: #213f99">Atualizar Contrato</button></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#select_form').on('change',function(){
			var selectValor = $(this).val();
			if (selectValor == '') {
				$('#pai').children('div').remove();
				document.getElementById('selected_user').value = '0'
			}
			else{
				document.getElementById('selected_user').value = selectValor
			}
		});
	});
</script>

{% endblock %}
