{% extends 'base.html'%}

{% block title %} Adicionar uma Nova Turma {% endblock %}

{% block content %}

<script>
	$(document).ready(function() {
		$('.container').removeClass('container');
	});
</script>

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title">Adicionar uma Nova Turma</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-11 pr-1">
								<p><label>Estas são as classes que já foram adicionadas</label></p>
								{% for class in school.classes.all %}
									<p><label><b>ID: {{ class.class_id }}</b>  Nome da Turma: {{ class.class_name }}</label></p>
								{% endfor %}
							</div>
						</div>
						<div class="row">
							<div class="col-md-11 pr-1">
								<div class="form-group">
									<form method="POST" class=""> {% csrf_token %}
										<div style="margin-top: 10px; margin-bottom: 10px" id="first_selection">
											<label>Você deseja adicionar uma nova turma?</label><br>
											<label style="margin-right: 10px;">Não</label>
											<label class="switch">
												<input type="checkbox" id="first_checkbox">
												<a id="first_slider" class="slider round"></a>
											</label>
											<label style="margin-left: 10px">Sim</label>
										</div>
										{{ form.as_p }}
										<input type="hidden" id="sim/não" name="sim/não" value="não">
										<!-- Sign in button -->
										<div><button type="submit" class="btn btn-info btn-fill pull-left" style="background-color: #213f99; border-color: #213f99">Adicionar Nova Turma</button></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#first_slider').on('click', function () {
			if (!$('#first_checkbox').prop("checked")) {
				document.getElementById('sim/não').value = 'sim'
				$('#first_checkbox').attr('checked')
			}
			else {
				document.getElementById('sim/não').value = 'não'
				$('#first_checkbox').removeAttr('checked')
			}
		});
});
</script>


{% endblock %}
