{% extends 'base.html'%}

{% block title %} Selecionar Professores Para a Escola {% endblock %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Professor(es)</h4>

          </div>
          <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="col-md-12" >
              <button type="submit" class="btn btn-dark btn-sm btn-block multi-select-button">Clique Aqui Para Associar os Professores Selecionados à Escola</button>
            </div>
          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="studentstable">
              <thead class="">
          			<tr>
                  <th><input id="check" type="checkbox" name="select_all"></th>
          				<th>Nome</th>
          				<th>Nome do Usuário</th>
          			</tr>
          		</thead>
          		<tbody>
          			{% for teacher in teacher_users %}
          			<tr>
                  <th>
                    {% if teacher in school.teachers.all %}
                      <input type="checkbox" name="checks" value="{{ teacher.teacher_id }}" checked="true">
                    {% else %}
                      <input type="checkbox" name="checks" value="{{ teacher.teacher_id }}">
                    {% endif %}
                  </th>
          				<th scope="row">{{ teacher.name }}</th>
          				<td>{{ teacher.profile.username }}</td>
                </tr>
          			{% endfor %}
          		</tbody>
            </table>
          </div>
          <input type="hidden"id="variable" name="variable" name="variable">
          
        </form>
        </div>
      </div>
    </div>
  </div>
</div>




<script type="text/javascript">
  $(document).ready( function () {
    $('#studentstable').DataTable();
} );
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#check').on('change',function () {
        var table = $('#studentstable');
        var check = document.getElementsByName('select_all');
        var checkboxes = table.children('tbody').children('tr').children('th').children('input');
        if (check[0].checked == true) {
            document.getElementById('variable').value = true;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            document.getElementById('variable').value = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    });
 });
</script>
{% endblock %}
