{% extends 'base.html'%}

{% block title %} See all Schools {% endblock %}

{% block content %}

<script>
$(document).ready(function() {
  $('.container').removeClass('container');
});
</script>
<div class="formscontainer">
	<div class="formsbox">
		<form method="POST" class="text-center border border-dark p-5"> {% csrf_token %}

		    <p class="h4 mb-4">You can add your Class</p>

		    {{ form.as_p }}

		    <!-- Sign in button -->
		    <button class="btn btn-dark btn-block" type="submit">Add the Class</button>


		</form>
		
	</div>

</div>

{% endblock %}
