{% extends 'base.html'%}

{% block title %} Adicionar uma Nova Classe {% endblock %}

{% block content %}

<script>
$(document).ready(function() {
  $('.container').removeClass('container');
});
</script>

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title">Adicionar uma Nova Classe</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5 pr-1">
								<div class="form-group">
                  <form method="POST" class=""> {% csrf_token %}

              		    {{ form.as_p }}
              		    <!-- Sign in button -->
              		    <div><button type="submit" class="btn btn-info btn-fill pull-left">Adicionar Nova Classe</button></div>

              		</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


{% endblock %}
