{% extends 'base.html'%}

{% block title %} See all Schools {% endblock %}

{% block content %}

<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<h1 align="center">Showing all schools</h1>
		<caption>Schools list</caption>
		<thead class="thead-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Enrollment Year</th>
				<th scope="col">Classes</th>
				<th scope="col">Chain</th>

			</tr>
		</thead>
		<tbody>
			{% for school in schools %}
			<tr>
				<th scope="row">{{ school.school_name }}</th>
				<td>{{ school.enrollment_year }}</td>
				{% if school.classes %}
					{% for class in school.classes.all %}
					<td>
						<label>Name of the Class: {{ class.class_name }}</label><br>
						<label>Enrollment Year: {{ school.enrollment_year }}</label><br>
						<div class="dropdown show">
					  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    Action
					  </a>

						  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						    <a class="dropdown-item" href="{% url 'school:verifyvalidchain' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">Verify valid chain for this class</a>
						    <a class="dropdown-item" href="{% url 'school:update_class' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">Update this class</a>
						    <a class="dropdown-item" href="{% url 'school:delete_class' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">Delete this class</a>
						  </div>
					</div>
						</td>
						{% endfor %}
					{% endif %}
				{% if school.chains %}
					{% for chain in school.chains.all %}
					<td>
						<label>Chain name: {{ chain.name }}</label><br>
						<label>Chain date: {{ chain.timestamp }}</label><br>
						{% if chain.block_set %}
							<label>Blocks for this chain:</label><br>
							{% for block in chain.block_set.all %}
								<label>{{ block.hash }}</label><br>
								<label>{{ block.previous_hash }}</label><br>
								<label>{{ block.time_stamp }}</label><br>
								<label>{{ block.index }}</label><br>
								<label>{{ block.nonce }}</label><br>
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endif %}
						<div class="dropdown show">
						<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Action
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<a class="dropdown-item"href="{% url 'school:add_class' school.school_id %}" data-baloon="Remove this item from the cart" class="text-danger">Add Class To School</a>
								<a class="dropdown-item" href="{% url 'school:update_school' school.school_id %}" data-baloon="Remove this item from the cart" class="text-danger">Update School</a>
								<a class="dropdown-item" href="{% url 'school:delete_school' school.school_id %}" data-baloon="Remove this item from the cart" class="text-danger">Delete School</a>
								<a class="dropdown-item" href="{% url 'school:create_block' %}" data-baloon="Remove this item from the cart" class="text-danger">Create a new block</a>
							</div>
						</div>
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
<!-- <i class="fas fa-trash"></i> -->
