{% extends 'base.html'%}

{% block title %} See all Schools {% endblock %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Showing All Schools</h4>
            <p class="card-category">Here is a subtitle for this table</p>
          </div>
          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped">
              <thead >
                <tr>
                  <th>Name</th>
                  <th >Enrollment Year</th>
                  <th >Classes</th>
                  <th >Chain</th>

                </tr>
              </thead>
              {% for school in schools %}
              <tbody>
                <tr>
                  <th>{{ school.school_name }}
                    <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item"href="{% url 'school:add_class' school.school_id %}" data-baloon="Remove this item from the cart" class="text-danger">Add Class To School</a>
                        <a class="dropdown-item" href="{% url 'school:update_school' school.school_id %}" data-baloon="Remove this item from the cart" class="text-danger">Update School</a>
                        <a class="dropdown-item" href="{% url 'school:delete_school' school.school_id %}" data-baloon="Remove this item from the cart" class="text-danger">Delete School</a>
                      </div>
                    </div>
                  </th>
                  <td>{{ school.enrollment_year }}</td>

                  {% if school.classes %}
                  <td>
                    {% for class in school.classes.all %}

                    <label>Name of the Class: {{ class.class_name }}</label><br>
                    <label>Enrollment Year: {{ school.enrollment_year }}</label><br>
                    <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'school:seeclassbyid' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">See the detailed class</a>
                        <a class="dropdown-item" href="{% url 'school:verifyvalidchain' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">Verify valid chain for this class</a>
                        <a class="dropdown-item" href="{% url 'school:update_class' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">Update this class</a>
                        <a class="dropdown-item" href="{% url 'school:delete_class' class.class_id %}" data-baloon="Remove this item from the cart" class="text-danger">Delete this class</a>
                      </div>
                    </div>
                    <br>
                    {% endfor %}
                  </td>
                  {% endif %}
                  {% if school.chains %}
                  <td>
                    {% for chain in school.chains.all %}
                    <div>
                      <label>Chain name: {{ chain.name }}</label>
                        <div>
                        <a class="btn btn-secondary btn-sm" href="{% url 'school:seechainbyname' chain.name %}" role="button" data-baloon="Remove this item from the cart" class="text-danger">See Chain details</a>
                        </div>
                        </div>

                        {% endfor %}


                      </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    {% endblock %}
