{% extends 'base.html'%}

{% block title %} Chain Details {% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Chain Details</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
                          <thead>
                      			<tr>
                      				<th>Chain name</th>
                      				<th>Chain date</th>
                      				<th>Blocks for this chain</th>


                      			</tr>
                      		</thead>
                      		<tbody>
                      			<tr>

                      				<th>{{ chain.name }}</th>
                      				<td>{{ chain.time_stamp }}</td>
                              {% if chain.block_set %}
                      				<td>
                                {% for block in chain.block_set.all %}
                                <div><label>Hash: {{ block.hash }}</label><br></div>
                                <div><label>Previous hash: {{ block.previous_hash }}</label><br></div>
                                <div><label>Time Stamp: {{ block.time_stamp }}</label><br></div>
                                <div><label>Block Index: {{ block.index }}</label><br></div>
                                <div><label>Block Nonce:{{ block.nonce }}</label><br></div>

                                <br>
                                <br>
                                {% endfor %}
                              {% endif %}
                      				<a class="btn btn-secondary" href="{% url 'school:create_block' %}" data-baloon="Remove this item from the cart" class="text-danger">Create a new block</a>
                              </td>
                      			</tr>
                      		</tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
