{% extends 'base.html'%}

{% block title %} See all Schools {% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">{{classe.class_name}} Class Details</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
													<thead class="">
														<tr>
															<th >Class Id</th>
															<th >Class Name</th>
															<th >Class Level</th>
											        <th >Students</th>
											        <th >Teachers</th>

														</tr>
													</thead>
													<tbody>
														<tr>

															<th >{{ classe.class_id }}</th>
															<td>{{ classe.class_name }}</td>
															<td>{{ classe.class_level }}</td>
											        {% if class.students %}
											        <td>{% for student in classe.students.all %}
											            <label> {{ student.name }} </label>
											            {% endfor %}
											        </td>
											        {% endif %}

											        {% if class.teachers %}
											        <td>
											          {% for teacher in classe.teachers.all %}
											          <label> {{ teacher.name }} </label>
											          {% endfor %}
											        </td>
											        {% endif %}
														</tr>
													</tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
