{% extends 'base.html'%}

{% block title %} Chain Details {% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">{{ chain.name }}</h4>
                        <p class="card-category">{{ chain.time_stamp }}</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped" id="schoolstable">
                          <thead>
                      			<tr>


                              <th>Blocks</th>

                      			</tr>
                      		</thead>
                      		<tbody>
                      			<tr>

                              {% if chain.block_set %}
                      				<td align="center" style="display: block;">

                                {% for block in chain.block_set.all %}
                                <div align="center" class="mb-5" style="width: 70%; height: 300px;">

                    
                                <div class="mb-2" style="border-style: solid; display: block; width: 70%; height: 300px;">
                                  <h3>{{ block.contract.name }}</h3>
                                <div style="margin-left: auto; margin-right: auto;"><label><b>Hash:</b> {{ block.hash }}</label></div>
                                <div style="margin-left: auto; margin-right: auto;"><label><b>Previous hash:</b> {{ block.previous_hash }}</label></div>
                                <div style="margin-left: auto; margin-right: auto;"><label><b>Time Stamp:</b> {{ block.time_stamp }}</label></div>
                                <div style="margin-left: auto; margin-right: auto;"><label><b>Block Index:</b> {{ block.index }}</label></div>
                                <div style="margin-left: auto; margin-right: auto;"><label><b>Block Nonce:</b> {{ block.nonce }}</label></div>
                                <div style="margin-left: auto; margin-right: auto;"><label><b>Block Student name:</b>  {{block.contract.student_name_sponte }}</label></div>
                                </div>
                                <!--Arrow--> <i style="font-size:40px" align="center" class="fas fa-long-arrow-alt-down mt-1"></i>
                                </div>
                                {% endfor %}

                              {% endif %}
                              </td>
                      			</tr>
                      		</tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready( function () {
    $('#schoolstable').DataTable();
} );
{% endblock %}
