{% extends 'base.html'%}

{% block title %} Detalhes da Classe {% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">Detalhes da Classe {{classe.class_name}} - Escola {{ school.school_name }}</h4>
                        <p class="card-category">Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body table-full-width table-responsive">
                        <table class="table table-hover table-striped">
													<thead class="">
														<tr>
															<th >Id da Classe</th>
															<th >Nome da Classe</th>
															<th >Nível da Classe</th>
											        <th >Estudantes</th>
											        <th >Professores</th>

														</tr>
													</thead>
													<tbody>
														<tr>

															<th >{{ classe.class_id }}</th>
															<th>{{ classe.class_name }}</th>
															<th>{{ classe.class_level }}</th>
											        {% if classe.students %}
											        <th align="center">{% for student in classe.students.all %}
											            <label> {{ student.name }} </label><br>
											            {% endfor %}
											        </th>
											        {% endif %}

											        {% if classe.teachers %}
											        <th align="center">
											          {% for teacher in classe.teachers.all %}
						                                  <Label>{{ teacher.name }}</label><br>
											          {% endfor %}
											        </th>
											        {% endif %}
														</tr>
													</tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
