{% extends 'base.html'%}

{% block title %} Detalhes da Escola {% endblock %}

{% block content %}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card strpied-tabled-with-hover">
					<div class="card-header ">
						<h4 class="card-title">Detalhes da Escola {{ school.school_name }}</h4>
						<p class="card-category">Here is a subtitle for this table</p>
					</div>
					<div class="card-body table-full-width table-responsive">
						<table class="table table-hover table-striped" id="schoolstable">
							<thead class="">
								<tr>
									<th >Id da Escola</th>
									<th >Nome da Escola</th>
									{% if school.classes.all %}
										<th>Turmas</th>
									{% endif %}
									{% if school.chains.all %}
										<th>Cadeias</th>
									{% endif %}
									{% if school.heads.all %}
										<th>Diretores</th>
									{% endif %}
									{% if school.adminorsupervisor %}
										<th>Supervisor</th>
									{% endif %}
									{% if school.sponte_client_number %}
										<th>SPONTE ID</th>
									{% endif %}
									{% if school.sponte_token %}
										<th>SPONTE TOKEN</th>
									{% endif %}
									{% if school.tell_me_school_id %}
										<th>TellMe ID</th>
									{% endif %}
									{% if school.country %}
										<th>País</th>
									{% endif %}
									{% if school.state %}
										<th>Estado</th>
									{% endif %}
									{% if school.city %}
										<th>Cidade</th>
									{% endif %}
									<th>Ver usuários dessa escola</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th >{{ school.school_id }}</th>
									<th>{{ school.school_name }}</th>
									{% if school.classes.all %}
										<th>
											{% for class in school.classes.all %}
												<label>Nome da Classe: {{ class.class_name }}</label><br>
												<label>Ano da Classe: {{ class.enrollment_class_year }}</label><br>
											{% endfor %}
										</th>
									{% endif %}
									{% if school.chains.all %}
									<th>
										{% for chain in school.chains.all %}
											<label>Chain name: {{ chain.name }}</label><br>
										{% endfor %}
									</th>
									{% endif %}
									{% if school.heads.all %}
										{% for head in school.heads.all %}
											<label>Nome do Diretor: {{ head.name }}</label><br>
										{% endfor %}
									{% endif %}
									{% if school.adminorsupervisor %}
										<th>{{ school.adminorsupervisor.name }}</th>
									{% endif %}
									{% if school.sponte_client_number %}
										<th>{{ school.sponte_client_number }}</th>
									{% endif %}
									{% if school.sponte_token %}
										<th>{{ school.sponte_token }}</th>
									{% endif %}
									{% if school.tell_me_school_id %}
										<th>{{ school.tell_me_school_id }}</th>
									{% endif %}
									{% if school.country %}
										<th>{{ school.country }}</th>
									{% endif %}
									{% if school.state %}
										<th>{{ school.state }}</th>
									{% endif %}
									{% if school.city %}
										<th>{{ school.city }}</th>
									{% endif %}
									<th><button type="button" class="btn btn-primary btn-sm btn-info btn-block"><a href="{% url 'users:seeallusers_by_school' school.school_id %}" data-baloon="Remove this item from the cart" class="text-light">Ver todos os usuários dessa escola</a></button></th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready( function () {
			$('#schoolstable').DataTable();
		} );
	</script>
{% endblock %}
