{% extends 'base.html'%}

{% block title %} Criar Estudante(s) {% endblock %}

{% block content %}
<script>
	$(document).ready(function() {
		$('.container').removeClass('container');
	});
	setGenPasswordToFields(['id_{{form.password1.name}}', 'id_{{form.password2.name}}'])
</script>


<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title">Criar Estudante(s)</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-11 pr-1">
								<div class="form-group">
									<form method="POST" enctype="multipart/form-data" class=""> {% csrf_token %}

										<div class="labelandform">
											<p><label>Você deseja selecionar estudantes existentes?</label></p>
											<select class="form-control" id="select_form">
												<option id="" value="" selected></option>
												<option value="sim">Sim</option>
												<option value="não">Não</option>
											</select>
										</div>
										<input type="hidden" name="sim/não" id="sim/não" value="não">
										<div id="pai">
										</div>
										<div id="child"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('#pai').children('div').remove();
		$('#select_form').on('change',function(){
			setGenPasswordToFields(['id_{{form.password1.name}}', 'id_{{form.password2.name}}'])
			var selectValor = $(this).val();
			if (selectValor == '') {
				$('#pai').children('div').remove();
			}
			else if(selectValor == 'sim'){
				$('#pai').children('#não').remove();
				$('#child').children('div').remove();
				$('#pai').append('<div id="sim"><p><button class="btn btn-info btn-fill pull-left" type="submit" style="background-color: #213f99; border-color: #213f99; margin-top: 10px;">Próximo</button></p></div>');
				document.getElementById('sim/não').value = 'sim'
			}
			else if(selectValor == 'não'){
				$('#pai').children('#sim').remove();
				$('#pai').append('<div id="não"<p><label>Estas são as turmas que você já adicionou, por favor adicione os ids delas à coluna 10 do arquivo CSV</label></p>{% for class in school.classes.all %}<p><label><b>ID: {{ class.class_id }}</b>  Nome da Turma: {{ class.class_name }}</label></p>{% endfor %}<p class="col-md-12" ><label>Com este formulário você pode adicionar apenas estudantes ou estudantes e pais ao mesmo tempo. Para maiores detalhes faça o download do exemplo <a href="https://drive.google.com/uc?export=download&id=1G82cuzqaz73uUXlvKN5sL5GKhrlIvej5">Neste Link</a>.</label><div class="w-100" ><input type="file" name="file" class="form-control" ></div> <div class="col-md-12" ><button class="btn btn-info btn-fill pull-left" type="submit" style="background-color: #213f99; border-color: #213f99">Próximo</button></div></p></div>')
				document.getElementById('sim/não').value = 'não'
			}
			$('#pai').children('div').hide();
			$('#pai').children('#'+selectValor).show();
		});
	});
</script>
{% endblock %}