{% extends 'base.html'%}

{% block title %} Criar um novo Diretor para a escola {{ school.school_name }} {% endblock %}

{% block content %}
<script>
$(document).ready(function() {
  $('.container').removeClass('container');
});
</script>


<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Adicionar/Selecionar um novo Diretor para a escola {{ school.school_name }}</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-5 pr-1">
								<div class="form-group">
									<form method="POST" class=""> {% csrf_token %}

										<div class="clearfix"></div>
										<div class="labelandform">
										<select class="custom-select chosen-select" id="select_form">
											<option id="" value="" selected>Você deseja selecionar um diretor existente?</option>
											<option value="sim">Sim</option>
											<option value="não">Não</option>
										</select>
									</div>
									<div id="pai">
									</div>
									<input type="hidden" id="selected_user" name="selected_user" value="0">
                  <div class="clearfix"></div>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('#pai').children('div').hide();
		$('#pai').children('div').remove();
		$('#select_form').on('change',function(){
			var selectValor = $(this).val();
			if (selectValor == '') {
				$('#pai').children('div').remove();
				document.getElementById('selected_user').value = '0'
			}
			else if(selectValor == 'sim'){
				$('#pai').children('#não').remove();
				$('#pai').append('<div id="sim"><p><select class="custom-select chosen-select" id="select_head" onchange="selectUser(this)" style= "margin-bottom: 10px"><option id="" value="" selected>Selecione o diretor que você deseja</option>{% for head in head_users %}<option value="{{ head.head_id }}">{{ head.name }}</option>{% endfor %}</select><button class="btn btn-info btn-fill pull-left" type="submit" style="background-color: #213f99; border-color: #213f99">Selecionar Diretor</button></p></div>');
			}
			else if(selectValor == 'não'){
				$('#pai').children('#sim').remove();
				$('#pai').append('<div id="não"><p><div class="form-group"><label>Nome: </label><div class="">{{ form.first_name }}</div></div><div class="form-group"><label>Sobrenome: </label><div class="">{{ form.last_name }}</div></div><div class="form-group"><label>Email: </label><div class="">{{ form.email }}</div></div><div class="form-group"><label>Nome de Usuário: </label><div class="">{{ form.username }}</div></div><div class="form-group"><label>Senha: </label><div class="">{{ form.password1 }}</div></div><div class="form-group"><label>Confirmação de Senha: </label><div class="">{{ form.password2 }}</div></div><div><button class="btn btn-info btn-fill pull-left" type="submit" style="background-color: #213f99; border-color: #213f99">Criar Usuário</button></div></p>')
				document.getElementById('selected_user').value = '0'
			}
			$('#pai').children('div').hide();
			$('#pai').children('#'+selectValor).show();
		});
	});
	function selectUser(ele){
		var selectValor = $(ele).val();
		if (selectValor == '') {
			document.getElementById('selected_user').value = '0'
		}
		else{
			document.getElementById('selected_user').value = selectValor
		}
	}
</script>
{% endblock %}