<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Login</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href='{% static "css/login.css" %}'/>

</head>
<body>
	<div class="container">
		<div  class="box">
			<div class="panel panel-default">
				<div class="panel-heading"><h3 class="panel-title"><strong>Sign In </strong></h3></div>
				<div class="panel-body">
					<form method="POST">{% csrf_token %}
						<div class="form-group">
							<label for="username">Username or Email</label>
							<input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Login">
						</div>
						<div class="form-group">
							<label for="password">Password </label>
							<input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Senha">
						</div>
						<div class="checkbox">
							<label>
								<input name="remember" type="checkbox" value="Remember Me">Remember Me
							</label>
						</div>
						<button type="submit" class="btn btn-sm btn-default">Sign in</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	</html>
