<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>Login</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href='{% static "css/login.css" %}'/>
</head>
<body>
	<div class="container login-background-color-orange">
		<div  class="box">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<strong>Login </strong>
					</h3>
				</div>
				<div class="panel-body">
					<a href="/" class="simple-text">
		                <img src="{% static 'img/Matrícula (002).png'%}" alt="" width="75px" height="75px" style="position:relative; left: 35%; margin-bottom: 5px">
		            </a>	
					{% if messages %}
				      {% for message in messages %}
				      <div {% if message.tags %}
				        class="{{ message.tags }} alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
				        {% endif %} role="alert"><span style="align-content: center;">{{ message }}</span><button type="button"
				          class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
				      {% endfor %}
				    {% endif %}
					<form method="POST">{% csrf_token %}
						<div class="form-group">
							<label for="username">Nome de Usuário ou Email</label>
							<input type="text" class="form-control form-control-user" id="username" name="username" placeholder="Login">
						</div>
						<div class="form-group">
							<label for="password">Senha </label>
							<input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Senha">
						</div>
						<div class="checkbox">
							<label>
								<input name="remember" type="checkbox" value="Remember Me">Remember Me
							</label>
						</div>
						<button type="submit" class="btn btn-sm btn-default">Logar</button>
					</form>
				</div>
			</div>
		</div>
	</body>
	</html>
