<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<title>Restar Password</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href='{% static "css/login.css" %}' />
</head>

<body class="login-background-color-orange">
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">

			<div class="col-lg-1 object-centered login-form-width">

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<strong>Resetar Password </strong>
						</h3>
					</div>
					<div class="panel-body">
						<form method="POST">{% csrf_token %}
							<div class="form-group">
								<label for="password">Senha: </label>
								<input type="password" name="password" id="password" class="form-control form-control-user">
							</div>
							<div class="form-group">
								<label for="password2">Confirmação de Senha: </label>
								<input type="password" name="password2" id="password2" class="form-control form-control-user">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-sm btn-default form-control form-control-user">Resetar Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>			
		</div>
	</div>
</body>

</html>