{% extends 'base.html'%}

{% block title %} User(s) {% endblock %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      {% if head_users %}
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Head(s)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="headstable">
              <thead>
                <tr>
                  <th >Name</th>
                  <th >Username</th>
                  {% if request.user.is_superuser %}
                    <th >Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for head in head_users %}
                <tr>
                  <th>{{ head.name }}</th>
                  <td>{{ head.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group"><a href="{% url 'users:delete_user' head.head_id 'head' %}" data-baloon="Remove this item from the cart" class="text-light">Delete Head</a><br>
                        <button type="button" class="btn btn-primary btn-sm btn-danger btn-block"></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      {% if teacher_users %}
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Teacher(s)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="teacherstable">
              <thead>
                <tr>
                  <th scope="col">Teacher's name</th>
                  <th scope="col">Username</th>
                  {% if request.user.is_superuser %}
                    <th >Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for teacher in teacher_users %}
                <tr>
                  <th scope="row">{{ teacher.name }}</th>
                  <td>{{ teacher.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' teacher.teacher_id 'teacher' %}" data-baloon="Remove this item from the cart" class="text-light">Delete Teacher</a></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      {% if admin_users %}
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Admin(s)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="adminstable">
              <thead>
                <tr>
                  <th scope="col">Admin's name</th>
                  <th scope="col">Username</th>
                  {% if request.user.is_superuser %}
                    <th >Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for admin in admin_users %}
                <tr>
                  <th scope="row">{{ admin.name }}</th>
                  <td>{{ admin.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' admin.admin_id 'admin' %}" data-baloon="Remove this item from the cart" class="text-light">Delete Admin</a><br></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}


      {% if supervisor_users %}
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Supervisor(s)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="supervisorstable">
              <thead >
                <tr>
                  <th >Supervisor's name</th>
                  <th >Username</th>
                  {% if request.user.is_superuser %}
                    <th >Action</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for supervisor in supervisor_users %}
                <tr>
                  <th scope="row">{{ supervisor.name }}</th>
                  <td>{{ supervisor.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-primary btn-sm btn-danger btn-block "><a href="{% url 'users:delete_user' supervisor.supervisor_id 'supervisor' %}" data-baloon="Remove this item from the cart" class="text-light">Delete Supervisor</a></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      {% if parent_users %}
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Parent(s)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="parentstable">
              <thead>
          			<tr>
          				<th >Parent's name</th>
          				<th >Username</th>
          				{% if request.user.is_superuser %}
                    <th >Action</th>
                  {% endif %}
          			</tr>
          		</thead>
          		<tbody>
          			{% for parent in parent_users %}
          			<tr>
          				<th>{{ parent.name }}</th>
          				<td>{{ parent.profile.username }}</td>
                  {% if request.user.is_superuser %}
          				<td>
          					<div class="btn-tollbar">
          						<div class="btn-group mr-2" role="group" aria-label="Second group">
          							<button type="button" class="btn btn-primary btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' parent.parent_id 'parent' %}" data-baloon="Remove this item from the cart" class="text-light">Delete Parent</a></button>
          						</div>
          					</div>
          				</td>
                  {% endif %}
          			</tr>
          			{% endfor %}
          		</tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}


      {% if student_users %}
      <div class="col-md-12">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Student(s)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="studentstable">
              <thead class="">
          			<tr>
          				<th>Student's Name</th>
          				<th>Username</th>
                  <th>Financial responsible</th>
                  <th>Second auth responsible</th>
          				<th>Action</th>

          			</tr>
          		</thead>
          		<tbody>
          			{% for student in student_users %}
          			<tr>
          				<th scope="row">{{ student.name }}</th>
          				<td>{{ student.profile.username }}</td>
                  <td>{{ student.first_parent.name }} </td>
                  <td>{{ student.second_parent.name }}</td>
          				<td>
          					<div class="btn-tollbar">
          						<div class="btn-group mr-2" role="group" aria-label="First group">
          							<button type="button" class="btn btn-primary btn-sm btn-info btn-block"><a href="{% url 'users:set_parents' student.student_id %}" data-baloon="Remove this item from the cart" class="text-light">Set Parents</a></button>
          						</div>
                      {% if request.user.is_superuser %}
          						<div class="btn-group mr-2" role="group" aria-label="Second group">
          							<button type="button" class="btn btn-primary btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' student.student_id 'student' %}" data-baloon="Remove this item from the cart" class="text-light">Delete Student</a></button>
          						</div>
                      {% endif %}
          					</div>
          				</td>
          			</tr>
          			{% endfor %}
          		</tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}


    </div>
  </div>
</div>




<script type="text/javascript">
  $(document).ready( function () {
    $('#studentstable').DataTable();
    $('#teacherstable').DataTable();
    $('#parentstable').DataTable();
    $('#supervisorstable').DataTable();
    $('#headstable').DataTable();
    $('#adminstable').DataTable();
} );
</script>
{% endblock %}
