{% extends 'base.html'%}

{% block title %} Usuário(s) {% endblock %}

{% block content %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      {% if head_users %}
      <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="margin-left: 10px">
        Diretor(es)
      </a></p>
      <div class="collapse col-md-12" id="collapseExample">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Diretor(es)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="headstable">
              <thead>
                <tr>
                  <th >Nome</th>
                  <th >Nome de Usuário</th>
                  {% if request.user.is_superuser %}
                  <th >Ações</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for head in head_users %}
                <tr>
                  <th>{{ head.name }}</th>
                  <td>{{ head.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group"><br>
                        <button type="button" class="delete-button btn btn-danger btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' head.head_id 'head' %}" data-baloon="Remove this item from the cart" class="text-light">Deletar Diretor</a></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      {% if teacher_users %}
      <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" style="margin-left: 10px">
        Professor(es)
      </a></p>
      <div class="collapse col-md-12" id="collapseExample2">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Professor(es)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="teacherstable">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Nome de Usuário</th>
                  {% if request.user.is_superuser %}
                  <th >Ações</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for teacher in teacher_users %}
                <tr>
                  <th scope="row">{{ teacher.name }}</th>
                  <td>{{ teacher.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="delete-button btn btn-danger btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' teacher.teacher_id 'teacher' %}" data-baloon="Remove this item from the cart" class="text-light">Deletar Professor</a></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      {% if admin_users %}
      <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3" style="margin-left: 10px">
        Administrador(es)
      </a></p>
      <div class="collapse col-md-12" id="collapseExample3">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Administrador(es)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="adminstable">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Nome de Usuário</th>
                  {% if request.user.is_superuser %}
                  <th >Ações</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for admin in admin_users %}
                <tr>
                  <th scope="row">{{ admin.name }}</th>
                  <td>{{ admin.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="delete-button btn btn-danger btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' admin.admin_id 'admin' %}" data-baloon="Remove this item from the cart" class="text-light">Deletar Administrador</a><br></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}


      {% if supervisor_users %}
      <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4" style="margin-left: 10px">
        Supervisor(es)
      </a></p>
      <div class="collapse col-md-12" id="collapseExample4">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Supervisor(es)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="supervisorstable">
              <thead >
                <tr>
                  <th >Nome</th>
                  <th >Nome de Usuário</th>
                  {% if request.user.is_superuser %}
                  <th >Ações</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for supervisor in supervisor_users %}
                <tr>
                  <th>{{ supervisor.name }}</th>
                  <td>{{ supervisor.profile.username }}</td>
                  {% if request.user.is_superuser %}
                  <td>
                    <div class="btn-tollbar">
                      <div class="btn-group mr-2 w-100" role="group" aria-label="Second group">
                        <button type="button" class="delete-button w-100 btn btn-danger btn-sm btn-danger btn-block "><a href="{% url 'users:delete_user' supervisor.supervisor_id 'supervisor' %}" data-baloon="Remove this item from the cart" class="text-light">Deletar Supervisor</a></button>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      {% endif %}

      {% if parent_users %}
      <p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5" style="margin-left: 10px">
        Responsável(eis)
      </a></p>
      <div class="collapse col-md-12" id="collapseExample5">
        <div class="card strpied-tabled-with-hover">
          <div class="card-header ">
            <h4 class="card-title">Responsável(eis)</h4>

          </div>

          <div class="card-body table-full-width table-responsive">
            <table class="table table-hover table-striped display mb-4" id="parentstable">
              <thead>
               <tr>
                <th >Nome</th>
                <th >Nome de Usuário</th>
                {% if request.user.is_superuser %}
                <th >Ações</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
             {% for parent in parent_users %}
             <tr>
              <th>{{ parent.name }}</th>
              <td>{{ parent.profile.username }}</td>
              {% if request.user.is_superuser %}
              <td>
               <div class="btn-tollbar">
                <div class="btn-group mr-2 w-100" role="group" aria-label="Second group">
                 <button type="button" class="delete-button w-100 btn btn-danger btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' parent.parent_id 'parent' %}" data-baloon="Remove this item from the cart" class="text-light">Deletar Responsável</a></button>
               </div>
             </div>
           </td>
           {% endif %}
         </tr>
         {% endfor %}
       </tbody>
     </table>
   </div>
 </div>
</div>
{% endif %}


{% if student_users %}
<p><a class="btn btn-primary" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6" style="margin-left: 10px">
  Estudante(s)
</a></p>
<div class="collapse col-md-12" id="collapseExample6">
  <div class="card strpied-tabled-with-hover">
    <div class="card-header ">
      <h4 class="card-title">Estudante(s)</h4>

    </div>

    <div class="card-body table-full-width table-responsive">
      <table class="table table-hover table-striped display mb-4" id="studentstable">
        <thead class="">
         <tr>
          <th >Nome</th>
          <th >Nome de Usuário</th>
          <th>Responsável Financeiro</th>
          <th>Responsável Pedagógico</th>
          <th>Ações</th>

        </tr>
      </thead>
      <tbody>
       {% for student in student_users %}
       <tr>
        <th scope="row">{{ student.name }}</th>
        <td>{{ student.profile.username }}</td>
        <td>{{ student.first_parent.name }} </td>
        <td>{{ student.second_parent.name }}</td>
        <td>
         <div class="btn-tollbar">
          {% if student.needs_parent %}
          <div class="btn-group mr-2 w-100" role="group" aria-label="First group">
           <button type="button" class="w-100 btn btn-primary btn-sm btn-info btn-block"><a href="{% url 'users:set_parents' student.student_id %}" data-baloon="Remove this item from the cart" class="text-light">Selecionar Responsáveis</a></button>
         </div>
         {% endif %}
         {% if request.user.is_superuser %}
         <div class="btn-group mr-2 w-100"  role="group" aria-label="Second group">
           <button type="button" class="delete-button w-100 btn btn-danger btn-sm btn-danger btn-block"><a href="{% url 'users:delete_user' student.student_id 'student' %}" data-baloon="Remove this item from the cart" class="text-light">Deletar Estudante</a></button>
         </div>
         {% endif %}
       </div>
     </td>
   </tr>
   {% endfor %}
 </tbody>
</table>
</div>
</div>
</div>
{% endif %}


</div>
</div>
</div>




<script type="text/javascript">
  $(document).ready( function () {
    $('#studentstable').DataTable();
    $('#teacherstable').DataTable();
    $('#parentstable').DataTable();
    $('#supervisorstable').DataTable();
    $('#headstable').DataTable();
    $('#adminstable').DataTable();
  } );
</script>
{% endblock %}
