{% extends 'base.html'%}

{% block title %} Pesquisar Usuários {% endblock %}

{% block content %}
<script>
	$(document).ready(function () {
		$('.container').removeClass('container');
	});
	setGenPasswordToFields(['id_{{user_form.password1.name}}', 'id_{{user_form.password2.name}}']);
</script>


<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Pesquisar Usuários</h4>
			</div>
			<div class="card-body">
				<div class="form-group">
					<form method="POST" enctype="multipart/form-data"> {% csrf_token %}

						<div class="clearfix"></div>
						<div class="row">
							<div class="labelandform col-md-6">
								<p><label>Selecione a Escola:</label></p>
								<select class="custom-select chosen-select" id="select_form_school">
									<option id="" value="">--------</option>
									{% for school in schools %}
									<option value="{{ school.school_id }}"
										{% if school.school_id == query.selected_school %} selected {% endif %}>
										{{ school.school_name }}
									</option>
									{% endfor %}
								</select>
							</div>
							<div class="labelandform col-md-6">
								<p><label>Selecione o Tipo de Usuário:</label></p>
								<select class="custom-select chosen-select" id="select_form">
									<option id="" value="">--------</option>
									<option value="director" {% if query.type_of_user == 'director' %} selected
										{% endif %}>Diretor</option>
									<option value="supervisor" {% if query.type_of_user == 'supervisor' %} selected
										{% endif %}>Supervisor</option>
									<option value="witness" {% if query.type_of_user == 'witness' %} selected
										{% endif %}>Testemunha</option>
								</select>
							</div>
						</div>
						<input type="text" id="name" name="name" placeholder="Insira o nome do usuário aqui..."
							value="{{query.name}}">
						<input type="hidden" id="type_of_user" name="type_of_user">
						<input type="hidden" id="selected_school" name="selected_school" value="0">
						<p class="text-warning">{{error}}</p>
						<div style="margin-top: 10px"><button class="btn btn-info btn-fill pull-left" type="submit"
								style="background-color: #213f99; border-color: #213f99">Pesquisar
								Usuários</button>
							<!-- <button class="btn btn-info btn-fill pull-right" id="generate_password" style="background-color: #213f99; border-color: #213f99" onclick="generate_password()">
															Gerar Senha</button> -->
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{% if school_users %}
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card strpied-tabled-with-hover">
						<div class="card-header ">
							<h4 class="card-title">Resultados</h4>
						</div>
						<div class="card-body table-full-width table-responsive">
							<table class="table table-hover table-striped display mb-4" id="headstable">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Perfil</th>
										<th>Login</th>
										<th>Escola</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									{% for user in school_users %}
									<tr>
										<th>{{ user.name }}</th>
										<th>
											{% if query.type_of_user == 'director' %}
												Diretor
											{% elif query.type_of_user == 'supervisor' %}
												Supervisor
											{% elif query.type_of_user == 'witness' %}
												Testemunha
											{% endif %}
										</th>
										<th>{{ user.profile.username }}</th>
										<td>
											<div class="container" style="white-space: nowrap; text-align: center">
												{% if query.type_of_user == 'director' %}
												{% for school in user.school_set.all %}
												<div class="row" style="margin-bottom: 10px;">
													{{ school.school_name }}
												</div>
												{% endfor %}
												{% elif query.type_of_user == 'supervisor' %}
												{% for school in user.school_set.all %}
												<div class="row" style="margin-bottom: 10px;">
													{{ school.school_name }}
												</div>
												{% endfor %}
												{% for school in user.adminorsupervisor_2.all %}
												<div class="row" style="margin-bottom: 10px;">
													{{ school.school_name }}
												</div>
												{% endfor %}
												{% elif query.type_of_user == 'witness' %}
												{% for school in user.first_witness_school_set.all %}
												<div class="row" style="margin-bottom: 10px;">
													{{ school.school_name }}
												</div>
												{% endfor %}
												{% for school in user.second_witness_school.all %}
												<div class="row" style="margin-bottom: 10px;">
													{{ school.school_name }}
												</div>
												{% endfor %}
												{% endif %}
											</div>
										</td>
										<th>
											<div class="dropdown show">
												<button type="button" class="btn btn-secondary" id="dropdownMenuLink"
													data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
														class="fas fa-ellipsis-h"></i></button>
			
			
												<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
													{% if type_of_user == 'student' %}
															<a href="{% url 'users:set_parents' user.student_id %}"
																data-baloon="Remove this item from the cart"
																class="dropdown-item">
																Selecionar Responsáveis
															</a>
													{% endif %}
													{% if user.profile %}
														<a href="{% url 'users:change_email' user.profile.id %}"
														data-baloon="Remove this item from the cart"
														class="dropdown-item">Atualizar Email</a>
														{% if type_of_user == 'director' %}
														<a href="{% url 'users:reset_password_send_email' user.head_id 'head' %}"
															data-baloon="Remove this item from the cart"
															class="dropdown-item">Resetar Senha</a>
														{% elif type_of_user == 'supervisor' %}
														<a href="{% url 'users:reset_password_send_email' user.supervisor_id 'supervisor' %}"
															data-baloon="Remove this item from the cart"
															class="dropdown-item">Resetar Senha</a>
														{% elif type_of_user == 'witness' %}
														<a href="{% url 'users:reset_password_send_email' user.witness_id 'witness' %}"
															data-baloon="Remove this item from the cart"
															class="dropdown-item">Resetar Senha</a>
														{% elif type_of_user == 'parent' %}
														<a href="{% url 'users:reset_password_send_email' user.parent_id 'parent' %}"
															data-baloon="Remove this item from the cart"
															class="dropdown-item">Resetar Senha</a>
														{% elif type_of_user == 'student' %}
														<a href="{% url 'users:reset_password_send_email' user.student_id 'student' %}"
															data-baloon="Remove this item from the cart"
															class="dropdown-item">Resetar Senha</a>
														{% endif %}
													{% endif %}
													{% if type_of_user == 'director' %}
														<a class="dropdown-item"
															onclick="changeYesLink('{% url 'users:delete_user' user.head_id 'head' %}')"
															href="#" data-baloon="Remove this item from the cart"
															class="text-light" data-toggle="modal"
															data-target="#delete-user-modal">
															Deletar Diretor
														</a>
														{% elif type_of_user == 'supervisor' %}
														<a class="dropdown-item"
															onclick="changeYesLink('{% url 'users:delete_user' user.head_id 'supervisor' %}')"
															href="#" data-baloon="Remove this item from the cart"
															class="text-light" data-toggle="modal"
															data-target="#delete-user-modal">
															Deletar Supervisor
														</a>
														{% elif type_of_user == 'witness' %}
														<a class="dropdown-item"
															onclick="changeYesLink('{% url 'users:delete_user' user.witness_id 'witness' %}')"
															href="#" data-baloon="Remove this item from the cart"
															class="text-light" data-toggle="modal"
															data-target="#delete-user-modal">
															Deletar Testemunha
														</a>
														{% elif type_of_user == 'parent' %}
														<a class="dropdown-item"
															onclick="changeYesLink('{% url 'users:delete_user' user.parent_id 'parent' %}')"
															href="#" data-baloon="Remove this item from the cart"
															class="text-light" data-toggle="modal"
															data-target="#delete-user-modal">
															Deletar Responsável
														</a>
														{% elif type_of_user == 'student' %}
														<a class="dropdown-item"
															onclick="changeYesLink('{% url 'users:delete_user' user.student_id 'student' %}')"
															href="#" data-baloon="Remove this item from the cart"
															class="text-light" data-toggle="modal"
															data-target="#delete-user-modal">
															Deletar Estudante
														</a>
													{% endif %}
												</div>
											</div>
										</th>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
	<script type="text/javascript">
		$(document).ready(function () {
            jQuery(window).on('resize', function () {
				$("#select_form_school_chosen").attr('style', 'width: 100%');
				$("#select_form_chosen").attr('style', 'width: 100%');
            });
        });
		$(document).ready(function () {
			$('#select_form_school').on('change', function () {
				setGenPasswordToFields(['id_{{user_form.password1.name}}', 'id_{{user_form.password2.name}}']);
				var selectValor = $(this).val();
				if (selectValor == '') {
					document.getElementById('selected_school').value = ''
				}
				else {
					document.getElementById('selected_school').value = selectValor
				}
			});
		});
		$(document).ready(function () {
			$('#select_form').on('change', function () {
				setGenPasswordToFields(['id_{{user_form.password1.name}}', 'id_{{user_form.password2.name}}']);
				var selectValor = $(this).val();
				if (selectValor == '') {
					document.getElementById('type_of_user').value = ''
				}
				else {
					document.getElementById('type_of_user').value = selectValor
				}
			});
		});
		$(document).ready(function () {

			$('#headstablebutton').addClass('non-interactable');
			$('#headstable').DataTable({
				initComplete: function () {
					$('#headstablebutton').removeClass('non-interactable');
				}
			});
		});
		function changeYesLink(url) {
			document.getElementById("link_to_delete").href = url;
		}
	</script>
	<div id="delete-user-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">x</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Você tem certeza que deseja este usuário? Essa operação não pode ser desfeita!</p>
				</div>
				<div class="modal-footer">
					<a id="link_to_delete" class="btn btn-danger btn-block" href="">Sim</a>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
				</div>
			</div>

		</div>
	</div>

	{% endblock %}