{% extends 'base.html'%}

{% block title %} Selecionar Responsáveis {% endblock %}

{% block content %}
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="card w-50">
					<div class="card-header">
						<h4 class="card-title">Selecionar Responsáveis</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<form method="POST">{% csrf_token %}
										<p>
											<label for="id_first_parent">{{ form.first_parent.label }}:</label>

											<div class="row">
												<div class="col-9">
													{{ form.first_parent }}
												</div>
												<div class="col-2">
													<a class="box-rounded flex-div box-rounded-blue color-link-white vertical-align-with-transform" href="{% url 'users:add_parent' student_id 'first_parent' %}">
														<p class="fas fa-plus centralize-margin font-size-plus"></p>
													</a>
												</div>
											</div>
										</p>
										<p>
											<label for="id_second_parent">{{ form.second_parent.label }}:</label>

											<div class="row">
												<div class="col-9">
													{{ form.second_parent }}
												</div>
												<div class="col-2">
													<a class="box-rounded flex-div box-rounded-blue color-link-white vertical-align-with-transform" href="{% url 'users:add_parent' student_id  'second_parent' %}">
														<p class="fas fa-plus centralize-margin font-size-plus"></p>
													</a>
												</div>
											</div>
										</p>
										<p>
											<label for="id_second_parent">{{ form.third_parent.label }}:</label>

											<div class="row">
												<div class="col-9">
													{{ form.third_parent }}
												</div>
												<div class="col-2">
													<a class="box-rounded flex-div box-rounded-blue color-link-white vertical-align-with-transform" href="{% url 'users:add_parent' student_id  'third_parent' %}">
														<p class="fas fa-plus centralize-margin font-size-plus"></p>
													</a>
												</div>
											</div>
										</p>
										<div>
											<button type="submit" class="btn btn-info btn-fill pull-left" style="background-color: #213f99; border-color: #213f99">
												Atualizar o	Estudante
											</button>
										</div>
										<div class="clearfix"></div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}