<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>{% block title %} Schools Creation {% endblock %}</title>

  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="{% static 'css/light-bootstrap-dashboard.css' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!--<link href="../assets/css/demo.css" rel="stylesheet" /> -->
  <script src="{% static 'js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>


  <link rel="stylesheet" type="text/css" href="{% static 'datatables/datatables.min.css' %}" />
  <script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>


<!-- Generate password -->
<script src="{% static 'js/gen_password.js' %}"></script>
<script>

  function setGenPasswordToFields(fieldsIds) {
    $(document).ready(function() {
      var password = genPassword();

      if (fieldsIds.length) {
        for (var i = 0; i < fieldsIds.length; i++) {
          var passwordElement = document.getElementById(fieldsIds[i]);
          if (passwordElement) {
            passwordElement.value = password;
          }
        }
      }
    });
  }

</script>

  <script src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>




  <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
  <link rel="stylesheet" href="{% static 'css/all.css' %}" />
  <script src="{% static 'js/chosen.jquery.min.js' %}" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'js/chosen.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
  <div class="wrapper">
    {% include 'top-navbar.html' %}
    <div class="main-panel">
      {% comment %} {% include 'panel.html' %} {% endcomment %}
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %}
        class="{{ message.tags }} alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
        {% endif %} role="alert"><span style="align-content: center;">{{ message }}</span><button type="button"
          class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
      {% endfor %}
      {% endif %}
      {% if form.errors %}
      <div id="form-error">
        {% for field in form %}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert"><span
            style="align-content: center;">{{ field.errors|striptags }}</span><button type="button" class="close"
            data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    {% include 'footer.html' %}
  </div>

</body>

</html>
<!--   Core JS Files   -->

<script src="{% static 'js/core/popper.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{% static 'js/plugins/bootstrap-switch.js' %}"></script>

<!--  Chartist Plugin  -->
<script src="{% static 'js/plugins/chartist.min.js' %}"></script>

<script src="{% static 'js/plugins/jquery.sharrre.js' %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static 'js/plugins/bootstrap-notify.js' %}"></script>
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{% static 'js/light-bootstrap-dashboard.js' %}"></script>

<script src="{% static 'js/demo.js'%}"></script>


<script type="text/javascript">
  $(".chosen-select").chosen({ no_results_text: "Oops, nothing found!" });
</script>
