{% load static %}
    <div class="sidebar" data-image="" background-color="#14348e">
        <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
-->
        <div class="sidebar-wrapper">
            <div class="logo">

                <a href="" class="simple-text">
                    <img src="{% static 'img/logotell.png'%}" alt="">
                </a>
            </div>
            <ul class="nav">


              <li class="nav-item">
                  <div class="nav-link">
                    <a style="color:#FFFFFF;" href="{% url 'contracts:seemycontracts'%}"><i class="fas fa-file-contract"></i>
                      <p>Contract(s)</p></a>
                  </div>
              </li>
              {% if request.is_superuser %}
                <li>
                  <div>
                <a class="nav-link" href="{% url 'contracts:createacontract' %}">Create New Contract</a>
                </div></li>



                <li class="nav-item">
                  <div class="nav-link">
                    <a style="color:#FFFFFF;" href="{% url 'school:seeallschools' %}">  <i class="fas fa-graduation-cap"></i>
                      <p>School(s)</p></a>
                  </div>
                </li>


                <li>
                  <div>
                <a class="nav-link" href="{% url 'school:add_school' %}">Add new School</a>
                </div>
                </li>



                <li class="nav-item">
                  <div class="nav-link">
                    <a style="color:#FFFFFF;" href="{% url 'users:seeallusers' %}">   <i class="fas fa-user"></i>
                      <p>User(s)</p></a>
                  </div>

                </li>

                <li>
                  <div>
                <a class="nav-link" href="{% url 'users:create_user' %}">Create a User</a>
                </div>
                </li>
              {% endif %}

            </ul>
        </div>
    </div>
