{% load static %}
<div class="topbar" data-image="">
    
    <div class="topbar-wrapper">
        <div class="logo">

            <a href="/" class="simple-text">
                <img src="{% static 'img/Matrícula (002).png'%}" alt="" width="75px" height="75px">
            </a>

        </div>

        <li style="float: right;" class="nav-item item-centering list-item-size">
          <button class="btn btn-info btn-sm pull-left btn-fill" type="button" onclick="goBack()" style="background-color: #213f99; border-color: #213f99;  margin: 0 auto;">Página anterior</button>
        </li>

        <ul class="nav top-nav top-bar-icons">

            {% if request.user.is_superuser or is_supervisor %}

            <li class="nav-item item-centering list-item-size list-item-hover-background">
                <p class="text-top-bar-nav">
                    <i class="fas fa-graduation-cap"></i>
                    <a style="color:#FFFFFF;" href="/">
                        Escolas 
                    </a>
                </p>

                {% if request.user.is_superuser %}
                <a class="box-rounded flex-div coloring-link" href="{% url 'school:add_school' %}">
                    <p class="fas fa-plus centralize-margin font-size-plus"></p>
                </a>
                {% endif %}
            </li>
            {% endif %}

            {% if request.user.is_superuser or is_supervisor %}

            <li class="nav-item item-centering list-item-size list-item-hover-background">
                <p class="text-top-bar-nav">
                    <i class="fas fa-graduation-cap"></i>
                    <a style="color:#FFFFFF;" href="{% url 'school:seeallclassesbyquery' %}">
                        Turmas 
                    </a>
                </p>

                <a class="box-rounded flex-div coloring-link" href="{% url 'school:select_school' %}">
                    <p class="fas fa-plus centralize-margin font-size-plus"></p>
                </a>
            </li>
            {% endif %}


            {% if request.user.is_superuser or is_supervisor %}

            <li class="nav-item item-centering list-item-size list-item-hover-background">
                <p class="text-top-bar-nav">
                    <i class="fas fa-user"></i>
                    <a style="color:#FFFFFF;" href="{% url 'users:all_administration' %}">
                        Usuários
                    </a>
                </p>

                {% if request.user.is_superuser %}
                    <a class="box-rounded flex-div coloring-link" href="{% url 'users:create_user' %}">
                        <p class="fas fa-plus centralize-margin font-size-plus"></p>
                    </a>
                {% endif %}
            </li>

            <li class="nav-item item-centering list-item-size list-item-hover-background">
                <p class="text-top-bar-nav">
                    <i class="fas fa-user"></i>
                    <a style="color:#FFFFFF;" href="{% url 'users:all_signes' %}">
                        Assinantes 
                    </a>
                </p>


                <a class="box-rounded flex-div coloring-link" href="{% url 'users:create_user' %}">
                    <p class="fas fa-plus centralize-margin font-size-plus"></p>
                </a>
            </li>
            {% endif %}

            <li class="nav-item item-centering list-item-size list-item-hover-background">
                <p class="text-top-bar-nav">
                    <i class="fas fa-file-contract"></i>
                    <a style="color:#FFFFFF;" href="{% url 'contracts:seemycontracts'%}">
                        Contratos 
                    </a>                            
                </p>

                {% if request.user.is_superuser or is_supervisor %}
                <a href="{% url 'contracts:select_student_to_contract' %}" class="box-rounded flex-div coloring-link">
                    <p class="fas fa-plus centralize-margin font-size-plus"></p>
                </a>
                {% endif %}
            </li>



        </ul>

        <li style="float: right" class="nav-item item-centering list-item-size dropdown">
            <a href="#" style="color: white" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user" style="margin-right: 10px"></i>
                {{request.user.username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                {% if is_client %}
                    <a class="dropdown-item" href="{% url 'users:profile' %}">Perfil</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'contracts:authenticated' %}">Autenticar com Google</a>
                <a class="dropdown-item" href="{% url 'users:logout' %}">Sair</a>
            </div>
        </li>

    </div>
</div>

<script>
function goBack() {
  window.history.back();
}
</script>